
/*default*/

* {
padding: 0;
margin: 0;
border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/

/*fonts Start*/

@font-face {
  font-family: 'barlowregular';
  src: url('../fonts/Barlow-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowsemibold';
  src: url('../fonts/Barlow-SemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*fonts End*/

body {
  margin: 0 auto;
  width: 1600px;
  background-color: #EFF6FF;
  /* color: #2A4A5C; */
  font-family: 'barlowregular';
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: row;
  margin: 100px 0 0 80px;
}

h1 {
  color: #2A4A5C;
  font-family: 'barlowsemibold';
}

.logo {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  /* width: 50%; */
  flex: 1 1 50%;
}

.logo__block {
  padding: 32px 0 0 50px;
}

.content {
  padding: 115px 160px 0 72px;
  flex: 1 1 50%;
}

.content__title {
  font-size: 30px;
}

.content__describe {
  margin: 17px 0 0 0;
  /* letter-spacing: -1px; */
}

.content__register {
  margin: 50px 0 0 0;
}

.register__social {
  display: flex;
  justify-content: space-between;
}

.register__fasebook, .register__linkedin {
  display: flex;
  margin: 10px 0 0 5px;
  align-items: center;
  width: 245px;
  height: 43px;
  font-size: 14px;
}

.register__fasebook {
  background-color: #255A9B;
}

.register__linkedin {
  margin: 10px 0 0 0;
  background-color: #0076B6;
}

.fb__img, .in__img  {
  margin: 0 0 0 10px;
  width: 20px;
  height: 20px;
}

.in__img {
  margin: 0 0 0 17px;
}

.fb__desc, .in__desc {
  margin: 0 0 0 20px;
  color: #FFFFFF;
}

.or {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: -1px;
}

.or span {
  margin: 0 5px;
}

.or::before, .or::after {
  content: "";
  position: relative;
  bottom: 8px;
  width: 100px;
  border-bottom: 2px solid #AFAFAF;
}

.register__other {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 0 5px;
}

.input-place, .input-place{
  padding: 0 0 0 10px;
  width: 250px;
  height: 57px;
  font-size: 16px;
  border: 2px solid #AFAFAF;
}

.input-place:hover,
.input-place:focus {
  border-left: 3px solid #3698FB;
}

.register__type {
  margin: 65px 0 0 0;
}

.type__question {
  letter-spacing: 0.05rem;
}

.type__form {
  margin: 15px 0 0 0;
}

.type__desc {
  font-size: 0.8em;
}

.type__options {
  margin: 50px 0 0 0;
  display: flex;
  /* justify-content: space-between; */
}

.type__option {
  /* display: flex; */
  margin: 0 30px 0 0;
  font-size: 16px;
}

.type__option:hover {
  
}

.type__radio {
 position: absolute;
 z-index: -1;
 opacity: 0;
 /* width: 0px;
 height: 0px; */
 /* display: none; */
}

.type__radio+label::before {
  content: '';
  display: inline-block;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid #7B8A92;
}

.type__radio:checked + label::before{
  border-radius: 50%;
  border: 4px solid #3698FB;
}

.type__label {
  padding: 0 0 0 15px;
}

.type__label:hover {
  /* border-bottom: 3px solid #3698FB; */
}

.simbol {
 font-size: 0.6em;
}

.register_desc {
  display: block;
  margin: 30px 0 0 10px;
  padding: 10px;
  width: 260px;
  color: #AFAFAF; 
  font-size: 0.7em;
  background-color: #EEEEEE;
}

.register_licence {
  margin: 50px 0 0 10px;
  font-size: 0.6em;
}

label > a {
  color: #3698FB;
  border-bottom: 2px solid #3698FB;
}

.create__account {
  margin: 60px 0 110px 5px;
  width: 245px;
  height: 40px;
  border-radius: 5px;
  background-color: #255A9B;
}
